<?php
defined('BASEPATH') OR exit('No direct script access allowed');
?><!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <div class="table-responsive" >
        <table class="table table-bordered table-hover table-sm" id="Tablainventario">
          <thead>
              <tr  class="table-info">
                  <th>id</th>
                  <th>imagen</th>
                  <th>nombre</th>
                  <th>Descripción</th>
                  <th>Categoria</th>
                  <th>Agregar a cotización</th>
              </tr>
          </thead> 
        </table>
    <div class="alert alert-warning" role="alert">
        <button onclick="sendData();">Agrega Cotización</button>
    </div>
  </div>
</div>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
    var products = [];
    $( document ).ready(function() {
    listar();
    });
    function agregar_productos(id){
        products.push(id);
    }
    function sendData(){
    var jsonData = JSON.encode(products);
    return $.ajax({
    url: "<?php echo site_url('http://mundopack.cl/new/index.php/Welcome/AddCotiza');?>",
    type: "POST",
    async: false,
    data: {
    'data': jsonData,
    },
    dataType: "text",
    beforeSend: function() {
        
    },
    success: function(x){
    },
    error: function (xhr, ajaxOptions, thrownError) {
    }
    });

    }
 function listar()
  {  
      

      var table = $('#Tablainventario').dataTable
      ({
          autoFill: true,   
          "language": 
          {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
          },
          "pageLength": 7,
            "ajax":{
            "method": "POST",
            "url":'http://mundopack.cl/new/index.php/Welcome/GetCotizacion',
            "dataSrc": "",
          },
          "columns":[
            {"data":"id_product"},
            {
    "data": 'id_image',
    render: function (data, row, id) {
        return '<img height="75%" width="75%" src="https://mundopack.cl/img/tmp/product_mini_'+id['id_image']+'.jpg?time=1586791490" />';
    }
      },
            {"data":"name"},
            {"data":"description"},
            {"data":"name_category"},
            {
            "data": 'id',
            render: function (data, row, id) {
                return '<button onclick="agregar_productos('+id['id']+')"></button>';
            }
            },
    ]
  });
}


</script>